/* style.css */

body {
    font-family: 'Arial', sans-serif;
    background: url('bg3.jpg') no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
    color: #333; /* Ubah warna teks agar terlihat lebih baik */
}

header {
    background-color: #333; /* Ubah warna latar header */
    text-align: center;
    padding: 1em 0;
    position: relative;
    color: #fff; /* Ubah warna teks header */
}

header img {
    width: 50px; /* Ubah sesuai kebutuhan */
    height: 50px; /* Ubah sesuai kebutuhan */
    margin-right: 10px;
    position: absolute; /* Tambahkan properti position: absolute; */
    top: 10px; /* Sesuaikan dengan jarak atas yang diinginkan */
    left: 10px; /* Sesuaikan dengan jarak kiri yang diinginkan */
}

nav ul li a:hover {
    color: #ff4500; /* Warna saat menu dihover, misalnya oranye */
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9); /* Latar belakang konten */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section {
    margin-bottom: 20px;
}

footer {
    background-color: #333; /* Ubah warna latar footer */
    color: #fff;
    text-align: center;
    padding: 1em 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Gaya untuk link */
a {
    color: #007bff; /* Warna default link */
    text-decoration: none;
}

a:hover {
    color: #0056b3; /* Warna saat link dihover */
}

/* Tambahkan efek transisi pada link */
a {
    transition: color 0.3s ease;
}
